body {

  h1 {
    color: #62baa2;
  }

  ul {
    list-style-type: trad-chinese-informal;
  }

  .delete-buttons {
    display: inline-flex;
  }

  .chosen-words {
    height: 140px;
    width: 200px;
    outline: 1px dotted black;
  }

  .too-many {
    outline-color: red;
  }
}