<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sestina App</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<h1>Sestina App</h1>
	<ul>
		{% for ew in session['endwords'] %}
			<li>{{ew}}</li>
		{% endfor %}
	</ul>
	<div class='delete-buttons'>
		<form action="{{ url_for('clearWords') }}" method="get">
			<button type="submit">
				<i class="fa fa-solid fa-trash"></i> all
			</button>
		</form>
		<form action="{{ url_for('removeWord') }}" method="post">
			<button type="submit">
				<i class="fa fa-solid fa-trash"></i> last
			</button>
		</form>
	</div>
	<form action="{{ url_for('addWord') }}" method="post">
		<input type="text" name="word" autofocus="autofocus">
			<button type="submit">Add</button>
			<button type="reset">Clear</button>
		</input>
	</form>
	{% if endwords_count == 6 %}
		<h2>You've collected 6 end words!</h2>
		<form action="{{ url_for('writeSestina') }}" method="get">
			<button type="submit">Write a sestina</button>
		</form>
	{% elif 0 < endwords_count < 6 %}
		<h2>Add another end word...</h2>
	{% elif endwords_count > 6 %}
		<h2>You've collected too many end words...</h2>
	{% endif %}
</body>
</html>