<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sestina in progress...</title>
</head>
<body>
	<form action="{{ url_for('index') }}" method="get">
		<button>
			Back
		</button>
	</form>
	<h4>Write a sestina with your chosen words:</h4>
	{% for w in session.endwords %}
		"{{ w }}"{% if w == session.endwords[5] %}. {% elif w == session.endwords[4] %}, and {% else %}, {% endif %}
	{% endfor %}
	<form action="{{ url_for('addLine') }}" method="post">
		<input type="text" name="line"autofocus="autofocus">
			<button type="submit">Enter</button>
		</input>
	</form>
	<endword-prompt style="color: green;">
	{{ endwords[lineindex] }}<br>
	</endword-prompt>
	{% for l in lines %}
		{{ l }}<br>
	{% endfor %}
	{% for s in stanzas %}
		{{ s }}<br>
	{% endfor %}
</body>
</html>